.navContainer {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  nav {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    .navLogo {
      display: flex;
      align-items: center;
      .navLogoText {
        width: 100px;
        transform: translateY(0.1rem);
      }
    }
    .navSearch {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// .navLogoImg {
//   width: 30px;
//   border-right: 1px solid black;
// }

.navLogoImg img,
.navLogoText img {
  width: 100%;
}

.navSearchHide,
.navSearch {
  width: 215px;
  height: 30px;
  border-radius: 0.3rem;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
}

.navSearchHide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  display: none;
}

nav .navSearch input {
  background-color: #fafafa;
  text-align: center;
  outline: 0;
  font-size: 0.8rem;
  border: 0;
}

.navSearch img {
  width: 0.7rem;
  position: absolute;
  left: 37%;
}

.navSearchHide input {
  outline: 0;
  font-size: 0.8rem;
  background-color: #fafafa;
  border: 0;
}

.navSearchHide img {
  width: 0.7rem;
}

.navCate ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .profileImg {
    width: 20px;
    img {
      width: 100%;
      border-radius: 100%;
    }
  }
}

.navCate ul .profileImg:nth-child(1) {
  margin: 0rem 0.5rem;
}
