footer {
  color: rgb(204, 204, 204);
  font-size: 0.7rem;
  ul {
    width: 290px;
    display: flex;
    flex-wrap: wrap;
    line-height: 1rem;
    margin-bottom: 1rem;
    color: rgb(204, 204, 204);
    font-size: 0.7rem;
  }
}
